.footer-section {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--main-sections-color);
  display: flex;
  justify-content: center;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
}

.footer-section a {
  color: var(--main-background-color);
}
