.footer-section {
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid var(--main-sections-color);
  display: flex;
  justify-content: center;
}

.footer-section a {
  color: var(--main-font-color);
  text-decoration: none;
  margin-left: 10px;
}
