.header-section {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px solid var(--main-sections-color);
  color: var(--secondary-font-color);
}
.header-section-row {
  justify-content: space-between;
}

.header-section a {
  color: var(--secondary-cont-color);
  text-decoration: none;
  display: block;
  /* width: 100%; */
}

.header-section div.button-container {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  height: 100%;
  transition: all 500ms;
  /* background-color: red; */
}

/*mob*/
.header-section div.button-container:active,
.header-section div.button-container:hover {
  background-color: var(--main-background-color);
}

/*monitor*/
.header-section div.button-container:active a,
.header-section div.button-container:hover a {
  color: var(--main-sections-color);
}

.dropdown-link {
  padding: 10px;
}
