.main-container,
.main-article-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.main-article-section a {
  line-height: 2.5em;
}
.main-container div img {
  max-width: 500px;
  background-color: aqua;
  width: 100%;
  max-height: 500px;
  height: 100%;
  background-size: cover;
  background-position: 20px;
  border-radius: 10px;
}
.main-container h1 {
  color: var(--main-sections-color);
}
.main-container div {
  margin: 10px 0;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about p {
  max-width: 800px;
  width: 100%;
  margin: 10px 0;
  font-weight: 300;
  line-height: 1.5em;
}
